* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}
body{
    background-color: hsl(30, 38%, 92%);
    color:hsl(228, 12%, 48%);
    font-size: 0.875rem;
    font-family: 'Montserrat' , serif ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem;
}

.container{
    background-color: hsl(0, 0%, 100%); 
    border-radius: 0.625rem;
    max-width: 23.4375rem;
    overflow: hidden;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    
}

.product-details{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 1rem;
}
.product-name{
    font-size: 0.75rem; 
    font-weight: 500;
    text-transform: uppercase;
    color: hsl(228, 12%, 48%);
    letter-spacing: 0.3rem;

}
.product-name-handle{
    font-family: 'Fraunces' , serif;
    font-weight: 700;
    color: hsl(212, 21%, 14%);
    line-height: 1;
    font-size: 2.2rem;
    

}
.product-description{
    color: hsl(228, 12%, 48%);
    line-height: 1.6;
    font-size: 1rem;

}

.prices{
    display: flex;
    align-items: center;
    gap: 1.25rem; 
    margin-top: 0.5rem;
    
    
}

.new-price{
    font-family: 'Fraunces', serif;
    font-size: 2rem; 
    color: hsl(158, 36%, 37%); 
    font-weight: 700;
}

.old-price{
    color: hsl(228, 12%, 48%);
    font-size: 0.875rem;
    text-decoration: line-through;
    
}
.buy{
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center ;
    gap: 0.75rem;
    width: 100%;
    padding: 1rem 0;
    border: none;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9375rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buy:hover, 
.buy:focus{
    background-color: hsl(158, 36%, 20%);
    outline: none;
}


.image-wrapper{
    width: 100%;
}

.product-image{
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  
}

@media (min-width:  600px) {
    .container {
        flex-direction: row-reverse; 
        max-width: 37.5rem ;
     height: 28.125rem;
    }

    .image-wrapper {
        flex: 1; 
        min-width: 18.75rem; 
        border-radius: 0.625rem 0 0 0.625rem; 
    }

    .product-image {
        height: 100%;
    
    }

    .product-details {
        flex: 1; 
        padding: 2rem; 
        gap: 1.25rem; 
        justify-content: space-between; 
    }

    .product-name-handle {
        margin-top: 0;
    }

    .prices{
        margin-top: 0;
    }
}
